.App {
  height: 100%;
}

.site-layout {
  margin-top: 15px;
  padding: 0 50px;
  height: 100%;
}

.site-content {
  height: 100%;
}

// global
@import "./styles/colors";
@import "./styles/antd-custom";
@import "./styles/global";

// components
@import "components/components";
@import "features/features";
